# Python cache / compiled
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packaging / build
.Python
build/
dist/
sdist/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Logs & coverage
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Framework artifacts
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/

# Jupyter / IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Dependency managers
.pdm.toml
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# Sage
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs / Editors
.spyderproject
.spyproject
.ropeproject
.vscode/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# OS files
.DS_Store

# Project-specific outputs
GeneratedTest.cpp
convergence.csv
*.dxf
*.svg
*.dwl2
*.dwl
*.tsbuildinfo
/gui/node_modules/.bin
/gui/node_modules

# Backend output files
backend/output/
